@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff');
  }
nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

nav h1 {
  color: rgb(16, 161, 28);
  font-size: 25px;
  padding: 15px;
  font-weight: 900;
  cursor: pointer;
  font-family: 'Get Schwifty';

 }

nav a {
  color: rgb(16, 161, 28);
  padding: 1px 15px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 2px;
  transition: .5s all ease;
  font-family: 'Protest Revolution', sans-serif;
}

@media only screen and (min-width: 200px) and (max-width: 900px) {
  nav h1 {
    font-size: 20px;
  
   }
   nav a:nth-child(1){
    display: none;
    
   }

}

