@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff');
  }

  :root{
    --bgtitulo:#00b0c8;
    --bgborder:#72cb17;
    --bgPrincipal:rgb(233, 233, 233);
  }
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--bgPrincipal);

}

.Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
    font-family: 'Get Schwifty';
    background: var(--bgPrincipal);
}

.Title h1 {
    font-weight: 900;
    font-size: 3.2em;
    color: var(--bgtitulo);
    background-size: 200% 100%;
    font-size: 7em;
    text-shadow: 10px 10px 10px var(--bgborder);
    margin-bottom: 50px;
    
}

.Title button{
    padding: 9px 17px;
    border: none;
    background:var(--bgPrincipal)
}


.Title a {
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 900;
    color: var(--bgtitulo);
    transition: .5s all ease;
}
.Title a:hover{
    color: #72cb17;
}
