

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 20px;

}
article {
    background-color: #3c3e44;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 20px 40px;
    border-radius:10px ;
    transition: all .5s ease;
    padding: 9px 20px;

}
article:hover{
    box-shadow: 1px 2px 10px black;
    
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-container img {
    width: 100%;
    border-radius: 10px;
}



h2 {
    color: black;
    background-color: burlywood;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
    background-color: burlywood;

}